# Папки сборки
Calculator/bin/
Calculator/obj/

# Бинарные файлы и артефакты
*.exe
*.pdb

# Пользовательские настройки среды
*.user
*.suo

# Логи и временные файлы
*.log
*.cache
*.tmp
*.bak
*.old
Thumbs.db

